<header class='l-header is-centered-content'>
  <a class='m-logo'
     href='index.html'
     aria-label='To main page'>
    <img src='img/logo.svg'
         alt='logo'>
  </a>

  <nav class='m-navmenu'>
    <ul class='body'>
      <li>
        <a class=''
           target='_self'
           rel='noopener'
           href='./careers.html'>
          Careers
        </a>
      </li>
      <li>
        <a class=''
           target='_self'
           rel='noopener'
           href='./locations.html'>
          Location
        </a>
      </li>
      <li>
        <a class=''
           target='_self'
           rel='noopener'
           href='./about.html'>
          About
        </a>
      </li>
    </ul>
  </nav>

  <button class='m-button get-button'
          type='button'>Get Scootin</button>

  <x-burgerMenu></x-burgerMenu>
</header>